.navigace {
  width: 100%;
  height: 48px;
  background-color: rgb(22, 107, 37);
  font-family: Montserrat;
  font-size: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.navigace a {
  text-decoration: none;
  padding-right: 40px;
  padding-left: 40px;
  color: whitesmoke;
}

#navItems {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  margin: 0;
}
body {
  color: blueviolet;
}
h1 {
  color: aqua;
}
.intro {
  color: brown;
}
